body{
    /* background-color: rgba(72, 163, 0, 0.07); */
    background-color: #26A69A;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    
}
main{
    padding: 0 16px 25px;
}
*{
    box-sizing: border-box;
}

.title{
    font-size: 64px;
    color: #fff;
    text-align: center;
}

.title span{
    color: #61481C;
}

.app-container{
    /* background-color: #FBFBFB; */
    background-color: #30336b;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.sub-title{
    font-size: 32px;
    color: #26A69A;
    
}
.sun-icon{
    vertical-align: middle;
    margin-left: 16px;
}

.progress-label{
    font-size: 14px;
    color: #0fbcf9;
    margin-bottom: 20px;
}

.progress-bar {
    height: 30px;
    /* background-color: rgba(72, 163, 0, 0.1); */
    background-color: #26A69A;
    border-radius: 15px;
    margin-bottom: 42px;
  }

.progress-value{
    background-color: #EF6C00;
    height: 100%;
    border-radius: 20px;
    width: 0%;
    font-weight: 500;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 1s ease-in-out;
}
.progress-value span{
    padding-left: 20px;
    min-width: max-content;
}

.err_label{
    color: #FF5151;
    font-size: 14px;
    margin: 6px 0px 0px 28px;
    display: none;
}

.goal-container{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    /* background-color: #FFFFFF; */
    background-color: #58B19F;
    margin-bottom: 46px;
    /* padding: 40px 22px; */
}


.circle-checkbox{
    width: 24px;
    height: 24px;
    border: 2px solid #C62828;
    border-radius: 50%;
    /* margin-left: 20px;
    margin-top: 25px; */
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline-block; */

}
.txt{
    border: none;
    outline: none;
    font-size: 16px;
    font-family: inherit;
    margin-left: 22px;
    flex-grow: 1;
    align-self: stretch;
    width: 100%;  
    font-weight: 500; 
    background-color: #58B19F;
}

.txt::placeholder{
    color: #00695C;
}

.final-msg{
    color: #26A69A;
    font-weight: 500;
    text-align: center;
    margin:60px 0 75px 0;
    font-size: 18px;
}

.completed .circle-checkbox{
    background-color: #EF6C00;
    border-color: #EF6C00;
    
}
.check-icon{
    display: none;
}
.completed .check-icon{
    display: block;
}

.completed .txt{
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #EF6C00;
    text-decoration-thickness: 2.5px;
   
}
.show-err .err_label{
    display: block;
}





@media(max-width:750px){
     .title{
        font-size: 32px;
     }
     .app-container{
        padding: 5px 23px;
     }
     .sub-title{
        font-size: 20px;
     }
     .sun-icon{
        height: 32px;
        width: 32px;
     }
     .progress-label{
        font-size: 12px;
     }
     .progress-bar{
        height: 20px;
     }
     .progress-value{
        font-size: 8px;
        padding-left: 10px;
     }
     .goal-container{
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
     }
     .circle-checkbox{
        width: 20px;
        height: 20px;
     }
}